{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="home-container">
        <section class="welcome">
            <h1>Welcome to Fitdit</h1>
            <p>Connect with fitness enthusiasts and share your journey to better health.</p>
        </section>
        {% if current_user.is_authenticated %}
        <h2>Popular Threads on Topics You Follow </h2>
            {% else %}
        <h2>Popular events</h2>
        {% endif %}

        {% for thread in top_threads %}
        <div class="event-card">
            <div class="event-box" style="display: flex">
                <h3>
                    <a href="{{ url_for('view_thread', thread_id=thread.thread_id) }}" style="text-decoration: none; color: inherit;"
                    onmouseover="this.style.color='#3498db';" onmouseout="this.style.color='inherit';">
                        {{ thread.title }}
                    </a>
                </h3>
            </div>
            <div style="margin-bottom: 10px;">
                {{ thread.body }}
            </div>
            <div class="event-meta">
                <span>Likes: {{ thread.like_count }}</span>
                <span>Created by: {{ thread.email }}</span>
                <span>Date: {{ thread.timestamp }}</span>
            </div>
        </div>
        {% endfor %}
    
        <section class="top-threads">
            {% if current_user.is_authenticated %}
                <h2>Popular Events Hosted by Your Followers </h2>
            {% else %}
                <h2>Popular events</h2>
            {% endif %}

            <div class="events-list">
                {% for event in top_events %}
                    <article class="event-card">
                        <div class="event-box" style="display: flex">
                            <h3 style="margin-right: 8px;">{{ event.title }}</h3>
                            <form action="{{ url_for('attend_event',event_id=event.event_id) }}" method="post"> 
                                {% if event.event_id in attend %}
                                <button type="submit" style="background-color: #ff0000 ; color: rgb(255, 255, 255); border: none; padding: 1px 4px; border-radius: 2px; cursor: pointer;">
                                    x
                                </button>
                                {% else %}
                                <button type="submit" style="background-color: #34b233 ; color: rgb(255, 255, 255); border: none; padding: 1px 4px; border-radius: 2px; cursor: pointer;">
                                    ✔ 
                                </button>
                                {% endif %}
                            </form>
                        </div>
                        <div class="event-meta">
                            <span class="topic">Topic: {{ event.topic_name }}</span>
                            <span class="capacity">Capacity:{{event.count}}/{{ event.capacity }}</span>
                            <span class="creator">Created by: {{ event.creator_email }}</span>
                            <span class="date">Date: {{ event.timestamp }}</span>
                        </div>
                    </article>
                {% else %}
                    <p class="no-events">No events found.</p>
                {% endfor %}
            </div>

        </section>
    </div>
{% endblock %}