{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h2>Welcome to the Home Page!</h2>
<p>This is a simple Flask web application where you can explore different topics.</p>

<!-- Additional content for the home page can go here -->
<h2>Hot Threads on Fitdit</h2>
    <ul>
        {% for thread in top_threads %}
            <li>
                <h3><a>{{ thread.title }}</a></h3>
                <p>{{ thread.body }}</p>
                <p><strong>Likes:</strong> {{ thread.like_count }}</p>
                <p><strong>Posted by:</strong> {{ thread.email }}</p>
                <p><strong>Timestamp:</strong> {{ thread.timestamp }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}