{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}


<h2>Login to FitDit</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('login') }}">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Log In</button>
</form>

</body>
</html>






{% endblock %}