{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<!-- Additional content for the topic page can go here -->
<h2>Top Threads in {{ topic_name }}</h2>
    {{ default_message }}
    <ul>
        {% for thread in topic_threads %}
            <li>
                <h3>{{ thread.title }}</h3>
                <p>{{ thread.body }}</p>
                <p><strong>Likes:</strong> {{ thread.like_count }}</p>
                <p><strong>Posted by:</strong> {{ thread.email }}</p>
                <p><strong>Timestamp:</strong> {{ thread.timestamp }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}